@media (min-width: 768px) {
    .modal-xxl {
        width: 90%;
        max-width: 90%;
    }

    .a-center {
        display: inline-flex;      /* Mantém o comportamento inline */
        align-items: center;       /* Centraliza verticalmente */
        justify-content: center;   /* Centraliza horizontalmente */
        width: 36px;               /* Tamanho proporcional ao conteúdo */
        height: 36px;
        padding: 0;                /* Remove espaçamento extra */
        font-size: 18px;           /* Ajusta o tamanho do ícone */
        line-height: 1;            /* Remove espaçamento vertical extra */
        text-align: center;        /* Garante alinhamento do ícone */
    }
}
