<template>
    <div class="modal modal-success fade" data-keyboard="false" data-backdrop="static" tabindex="-1" id="formModal" role="dialog" style="display: none;">
        <div class="modal-dialog modal-xxl">

            <form class="modal-content" enctype="multipart/form-data">

                <div class="modal-header">
                    <h5 class="modal-title text-primary">{{ title }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead class="text-primary">
                                <tr>
                                    <th colspan="1"><b>Cód Aux.</b></th>
                                    <th colspan="1"><b>Descrição</b></th>
<!--                                    <th colspan="1"><b>Qtd Faturada</b></th>-->
                                    <th colspan="1"><b>Unidade Entrada</b></th>
<!--                                    <th colspan="1"><b>Qtd a Conferir</b></th>-->
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(item, index) in items">
                                    <td>
                                        <span>{{ item.cod_aux }}</span>
                                    </td>
                                    <td>
                                        <span>{{ item.description }}</span>
                                    </td>
                                    <!--<td>
                                        <span>{{ item.quantity }}</span>
                                    </td>-->
                                    <td>
                                        <span>{{ item.unity }}</span>
                                    </td>
                                    <!--<td>
                                        <span>{{ (item.quantity * item.factor) }}</span>
                                    </td>-->
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-disabled" data-dismiss="modal">Fechar</button>
                </div>

            </form><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->

    </div>
</template>

<script>
import * as axios from "axios";

export default {
    name: 'note-items',
    data(){
        return {
            items: [],
            title: "",
            csrf: "",
        };
    },
    mounted(){
        this.listenEvents();
        this.csrf = $('meta[name="csrf-token"]').attr('content')
    },
    methods: {
        listenEvents(){
            $('.openModal').on('click', (e) => {
                this.cleanObject();

                let getItemsUrl = $(e.target).data('retrieve-items');
                this.title = $(e.target).data('title');
                this.getItems(getItemsUrl);
            });
        },
        getObject(url){
            axios({
                method: "GET",
                url: url,
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            }).then(
                result => {
                    this.breakdown = result.data;
                },
                error => {
                    console.error(error);
                }
            );
        },
        getItems(url){
            axios({
                method: "GET",
                url: url,
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            }).then(
                result => {
                    this.items = result.data;
                },
                error => {
                    console.error(error);
                }
            );
        },
        cleanObject(){
            this.items = {}
        },
    }
}
</script>

<style scoped>

</style>
