<template>

    <div class="modal modal-success fade" data-keyboard="false" data-backdrop="static" tabindex="-1" id="formModal" role="dialog" style="display: none;">
        <div class="modal-dialog modal-xxl">

            <form class="modal-content" enctype="multipart/form-data" :action="actionUrl" method="POST">

                <input v-if="submitMethod == 'PUT'" type="hidden" name="_method" :value="submitMethod">

                <input type="hidden" name="_token" :value="csrf">
                <input name="_token" type="hidden" :value="csrf">

                <div class="modal-header">
                    <h5 class="modal-title text-primary">{{ title }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class=" text-primary" for="status">Status</label>

                        <select id="status" name="status" class="form-control" v-model="supply.status" :required="true">
                            <option value="" disabled selected>Selecione um Staus</option>
                            <option v-for="(option,key) in status" :value="key">{{ option }}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class=" text-primary" for="separator_id">Separador</label>

                        <select id="separator_id" name="separator_id" class="form-control" v-model="supply.separator_id" :required="true">

                            <option value="" disabled selected>Selecione um separador</option>
                            <option v-for="(option,key) in separators" :value="key">{{ option }}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="text-primary" for="initiated_at">Data e hora inicial de separação</label>
                        <input type="datetime-local" name="initiated_at" class="form-control" id="initiated_at" placeholder="Data de validade" v-model="supply.initiated_at_conv" :required="true">
                    </div>

                    <div class="form-group">
                        <label class="text-primary" for="completed_at">Data e hora final de separação</label>
                        <input type="datetime-local" name="completed_at" class="form-control" id="completed_at" placeholder="Data de validade" v-model="supply.completed_at_conv" :required="false">
                    </div>

                    <div class="form-group">
                        <label class=" text-primary" for="notes">Observações</label>
                        <textarea type="text" name="notes" class="form-control" id="notes" placeholder="Observaçoes" v-model="supply.notes"></textarea>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-disabled" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Salvar mudanças</button>
                </div>

            </form><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->

    </div>

</template>

<script>
import * as axios from "axios";

export default {
    name: 'breakdown',
    data(){
        return {
            supply : {},
            status : [],
            separators : [],
            actionUrl : "",
            submitMethod : "",
            title: "",
            csrf: "",
        };
    },

    mounted(){
        this.listenEvents();
        this.csrf = $('meta[name="csrf-token"]').attr('content')
    },

    methods: {
        listenEvents(){
            $('.openModal').on('click', (e) => {
                this.cleanObject();

                let getUrl = $(e.target).data('retrieve');
                let getUrlStatus = $(e.target).data('retrieve-status');
                let getUrlSeparators = $(e.target).data('retrieve-separators');

                this.title = $(e.target).data('title');
                this.actionUrl = $(e.target).data('action');
                this.submitMethod = $(e.target).data('method');

                if(getUrl){
                    this.getObject(getUrl);
                }
                else{
                    this.cleanObject()
                }

                this.getSeparators(getUrlSeparators);
                this.getStatus(getUrlStatus);
            });
        },
        getObject(url){
            axios({
                method: "GET",
                url: url,
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            }).then(
                result => {
                    this.supply = result.data;
                },
                error => {
                    console.error(error);
                }
            );
        },
        getStatus(url){
            axios.get(url)
                .then((response) => {
                    this.status = response.data;
                });
        },
        getSeparators(url){
            axios.get(url)
                .then((response) => {
                    this.separators = response.data;
                });
        },
        cleanObject(){
            this.supply = {};
            this.status = {};
            this.separators = {};
        },
    }
}
</script>
